@import 'normalize';
@import 'config';

* {font-size-adjust: 0.58;}

.stored-background-image, {display: none;}

p {display: inline-block; margin: 0;}

[class$="buttons-group"] {display: flex; justify-content: space-between;}

.text-stage {
  background-color: $background-color; 
  width: $app-width; 
  height: $app-width;
  padding: 30px 0; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 
  -webkit-transtion: background-color 10s; /* Safari, Chrome and Opera > 12.1 */
     -ms-transition: background-color 10s; /* Internet Explorer */
         transition: background-color 10s;
}

.background-image {
  margin: auto; 
  background-color: $background-color; 
  width: $app-width; 
  height: $app-width;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 

  // ALL OF THIS MIGHT BE UNWANTED FOR MOBILE
  position: absolute;
  top: calc(50% - (#{$app-width} * .5)); 
  right: calc(50% - (#{$app-width} - (#{$app-width} * .5))); 
}

.text-stage_line-zone {width:100%; height: 20px; padding-left: 5%;}
[class*="text-wrapper"] {position: relative;}
.text-stage_line-end {position: relative; width: 5%; float: right; z-index: -1;}
.text-stage_output {position: absolute; top: 50%; transform: translate(0, -50%);}

.intro, .outro, {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.intro, .outro, {
  width: 77%; 
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 3%; 
  display: block; 
  z-index: 9999; 
  font-family: 'Stylish', sans-serif;
}

.intro {top: 50%; display:block;}
.outro {top: calc(50% + (#{$outro_save-message-height} / 2)); display:none;}
.outro_main-message {margin-bottom: 2.5%;}
.outro_main-message, .outro_save-message {padding: 24px;}
.outro_main-message, .outro_save-message, .intro, {background-color: $dark-base-output-color;}
.intro_title, .outro_title {color: $titles-color;}
.intro_main-text, .outro_main-text, .outro_footnote, .outro_save-message {color: $background-color;}
.intro_button, .outro_button, .save-message_button {color: $button-color;}
.outro_buttons-group {margin-bottom: 5px;}
.outro_save-message {opacity: 0; height: $outro_save-message-height;}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input {position: absolute;
  top: -1000px;
  font-size: 100px;
  width: 50%;
}

@media all and (max-height: 800px){
  .background-image {top:0;}
}