html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.group:after {
  content: "";
  display: table;
  clear: both;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/** {
  letter-spacing: 0.1
}*/

body p {
  display: inline-block;
  font-size-adjust: 0.58;
  vertical-align: middle;
  margin: 0;
}

body {padding-top: 30px;}

.text-stage_line-zone {width:100%; height: 20px; background-color: hsla(0,0%,0%,0.1);}
.text-stage_line-1-text-wrapper, .text-stage_line-2-text-wrapper, .text-stage_line-3-text-wrapper {position: relative; background-color: hsla(300,100%,50%,0.1);}
/*TEXT-STAGE_LINE-END NEEDS TO TAKE UP FULL LENGTH*/
.text-stage_line-end {position: relative; width: 5%; height: 160px;float: right; z-index: -1; background-color: hsla(0,0%,0%,0.2);}
.text-stage_output {position: absolute; top: 50%; transform: translate(0, -50%);}
.text-stage_line--active {background-color: hsla(0,100%,50%,0.1);}

.text-wrapper {position: relative;}

.text {position: absolute; top: 50%; transform: translate(0, -50%);}

.max-danger {width: 100%; height: 20px; background-color: hsla(0,100%,50%,0.5);}
.low-danger {width: 100%; height: 20px; background-color: hsla(50,100%,50%,0.5);}
.gravity {width: 100%; height: 20px; background-color: hsla(250,100%,50%,0.15);}
.safe {width: 100%; height: 20px; background-color: hsla(125,100%,50%,0.15);}
.text-wrapper {width: 100%; height: 20px;}
.text {position: absolute; background-color: hsla(0,100%,50%,0.1);}

.rotateThis:nth-child(1) {transform: rotate(0deg);}
.rotateThis:nth-child(2) {transform: rotate(5deg);}
.rotateThis:nth-child(3) {transform: rotate(10deg);}
.rotateThis:nth-child(4) {transform: rotate(20deg);}
.rotateThis:nth-child(5) {transform: rotate(30deg);}
.rotateThis:nth-child(6) {transform: rotate(50deg);}
.rotateThis:nth-child(7) {transform: rotate(60deg);}
.rotateThis:nth-child(8) {transform: rotate(70deg);}
.rotateThis:nth-child(9) {transform: rotate(80deg);}
.rotateThis:nth-child(10) {transform: rotate(90deg);}

/*p:first-child { transform: rotate(6deg); }*/
/*p:nth-child(1) { color: lightblue; transform: rotate(6deg) translate(0,0rem);}
p:nth-child(2) { color: blue; transform: rotate(12deg) translate(0,0.25rem);}
p:nth-child(3) { color: lightgreen; transform: rotate(6deg) translate(0,0.5rem);}
p:nth-child(4) { color: green; transform: rotate(12deg) translate(0,0.75rem); font-size: 20px;}
p:nth-child(5) { color: red; transform: rotate(6deg) translate(0,1rem);}
p:nth-child(6) { color: lightblue; transform: rotate(12deg) translate(0,15px); font-size: 30px;}
p:nth-child(7) { color: blue; transform: rotate(-6deg) translate(0,20px); font-size: 40px;}
p:nth-child(8) { color: lightgreen; transform: rotate(12deg) translate(0,25px);}
p:nth-child(9) { color: lightblue; transform: rotate(6deg) translate(0,5px);}
p:nth-child(10) { color: blue; transform: rotate(-12deg) translate(0,5px); font-size: 60px;}
p:nth-child(11) { color: lightgreen; transform: rotate(6deg);}
p:nth-child(12) { color: green; transform: rotate(12deg) translate(0,50px); font-size: 20px;}
p:nth-child(13) { color: red; transform: rotate(-6deg);}
p:nth-child(14) { color: lightblue; transform: rotate(12deg); font-size: 30px;}
p:nth-child(15) { color: blue; transform: rotate(-6deg); font-size: 40px;}
p:nth-child(16) { color: lightgreen; transform: rotate(12deg);}*/
/*p:nth-child(odd) {
  color: red;
  background: blue;
  transform: rotate(12deg); }
p:nth-child(even) { transform: rotate(18deg); }*/

/*.text-stage_x-axis-measure {width: 0.5%; height: 100%; display: inline-block; margin: 0; padding: 0;}
.stripe:nth-child(odd) {background-color: black;}*/

/*input {position: absolute; top: -1000px;}*/
